	body {
		margin-left: 100px !important;
		margin-right: 100px !important;
		background-color: #e6e6e6 !important;
	}
	
	.content {
		max-width: 1320px;
		background-color: white;
		
	}

	.row {
		margin: 0 0 21px 0 !important;
		padding: 0 !important;
	}
	
	.navbar-header {
		padding: 21px 21px 0 21px;
		max-width: 1320px;
	}

	.col-lg-2 {
		padding: 0 !important;
		margin: 0 21px 0 0 !important;
		width: 11.051% !important;	
	}

	.col-lg-2.enru {
		margin: 0 !important;
		padding: 0 !important;
	}

	.col-lg-12 {
		padding: 0 !important;
		margin: 0 !important;
		max-width: 1320px !important;
	
	}
	.col-lg-3 {
		padding: 0 !important;
		margin: 0 21px 0 0 !important;
		width: 23.71% !important;	
	}

	.one-line {
		padding: 0 21px 21px 21px;
		max-width: 1320px;
	}

	.col-lg-3.right {
		margin: 0 !important;
		padding: 0 !important;
	}

	.col-lg-6 {
		margin: 0 !important;
		padding: 0 !important;
	}

	.col-lg-5 {
		margin: 0 !important;
		padding: 0 !important;
	}
	.col-lg-6.Den {
		margin: 0 !important;
		padding: 0 !important;
	}

	.col-lg-6.Den1 {
		margin: 0 !important;
		padding: 0 0 0 5px !important;
		text-align: left;
	}

	.col-lg-6.Den2 {
		margin: 0 !important;
		padding: 21px 0 0 0 !important;
	}

	.col-lg-6.Den3 {
		margin: 0 !important;
		padding: 21px 0 0 5px !important;
		text-align: left;
	}
	
	.col-lg-6.kar {
		margin: 0 !important;
		padding: 0 4px 0 0 !important;
		text-align: right;
	}

	.two-line {
		padding: 0 21px 21px 21px;
		max-width: 1278px;
		max-height: 628px;
	}
    
    footer {
		background-color: red !important;
		max-width: 1276px;
		height: 100px;
		margin: 0 0 0 21px !important;
		padding: 0 !important;
	}
	
	.container {
		margin: 0 0 0 25px !important;
		padding: 0 !important;
	}

	.logof {
		margin: 0 51px 0 0;
	}
   

    a {
    	font-size: 21px;
    	color: white !important;

	}

	a.lang {
    	font-size: 14px;
    	color: white !important;

	}
	
	.lang {
		margin: 0 10px 0 10px;
	}
	.lang.r {
		margin: 0 10px 0 290px;
	}

    .art_block {
    	background-color: red; 
    	margin: 0 54px 0 15px;
    	width: 141px !important; 
    	height: 141px;
    	text-align: center;
    }

    .art_block a {
    	font-size: 15px;
		  display: table-cell;

		  padding: 55px 0 0 0;
		  vertical-align: middle;
    }

    p {
    margin: 0 0 10px;
    font-size: 16px;
    padding-top: 30px;
}

li {
	font-size: 20px;
}

button {
	background-color: white;
	font-size: 11px !important;
	color: white !important;
	margin: 0;
	padding: 0;
	border: none !important;
}

.col-lg-6.ru {
	padding: 25px 0 0 0 !important;
}
.col-lg-6.en {
	padding: 25px 0 0 0 !important;
}

.input-group {
    padding-top: 50px !important;

}

.input-lg {
    height: 36px !important;
    padding: 10px 16px;
    font-size: 14px !important;
    line-height: 1.3333333;
    border-radius: 0 !important;
}

.glyphicon-search:before {
	color: red !important;
}

.btn-default {
	background-image: linear-gradient(to bottom,#fff 0,#F44336 100% ) !important;
}

.form-control {
	border: 1px solid #F44336 !important;
	border-radius: 0 !important;
}

.btn-group-lg>.btn, .btn-lg {
	border-radius: 0 !important;
}